<h1>Modifier un produit</h1>

<div class="form">
  <form [formGroup]="productForm">
    <div>
      <label for="productName">Nom du produit :</label>
      <input type="text" id="productName" formControlName="productName" required>
      <small class="error-message" *ngIf="productForm.get('productName')?.invalid && (productForm.get('productName')?.dirty || productForm.get('productName')?.touched)">
        Champ requis
      </small>
    </div>

    <div>
      <label for="productType">Type de produit :</label>
      <select id="productType" formControlName="productType">
        <option *ngFor="let productType of productsTypes" [value]="productType.id">{{ productType.type }}</option>
      </select>
      <small class="error-message" *ngIf="productForm.get('productType')?.invalid && (productForm.get('productType')?.dirty || productForm.get('productType')?.touched)">
        Champ requis
      </small>
    </div>

    <input [disabled]="productForm.invalid" type="submit" [value]="idProduct? 'Modifier le produit':'Ajouter le produit'" (click)="onSave()" (keyup.enter)="onSave()">
  </form>
</div>
